<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <title><%=title%></title>
    <% include item_include/header.ejs %>

</head>
<body class="container">
<% include item_include/nav.ejs %>
<!--    nav-->

<div class="align-content-center">
    <h3>About us:</h3>
    <hr>
<p>
    <b>Company</b><br>
        Address:<br>
        Pixabay GmbH<br>
        c/o Lacore Rechtsanwälte LLP<br>
        Berliner Freiheit 2<br>
        10785 Berlin<br>
        Germany<br>
    </p>
    <p>
        <b>Contact:</b><br>
        Phone Number: +1 844-204-1750<br>
        Email: info (at) pixabay.com<br>
        Contact form<br>
    </p>
    <p>
       <b> Managing Director :</b><br>
       Le Hai Dang<br>
    </p>
    <b>Register entry:</b><br>
    Registergericht: Amtsgericht Charlottenburg (Berlin)<br>
    Registernummer: HRB 201539 B<br>
    <p>
        VAT identification number in accordance with section 27a of the German VAT act (§ 27a UStG):
        DE322857686
    </p>
    <p> <b>Dispute resolution:</b><br>
        https://ec.europa.eu/consumers/odr/ Pixabay is not obligated or willing to participate in arbitration
        proceedings within the meaning of the VSBG. Pixabay endeavors to settle any disagreements amicably. Our email
        address: info (at) pixabay.com
    </p>
</div>
<!--<% include item_include/footer.ejs %>-->

</body>
</html>
