<!doctype html>
<html lang="en">
<head>
    <title>Catogery</title>
  <%include item_include/header.ejs%>

</head>
<body class="container">
<%include item_include/nav.ejs%>
<!--    nav-->
<%include item_include/footer.ejs%>

</body>
</html>
