<!doctype html>
<html lang="en">
<head>
    <title><%=title%></title>
    <%include item_include/header.ejs%>
</head>
<body class="container">
<!--    nav-->
<%include item_include/nav.ejs%>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading" style="padding-top: 40px">Euro</h1>
        <p class="lead text-muted" >Photos of Euro</p>
    </div>
</section>
<!-- Gallery -->
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
                src="https://c.wallhere.com/photos/f8/fb/europe_euro_italy_coast_colorfull_color_blue_sky-609832.jpg!s"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />

        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds"
        />

        <img
                src="https://c.wallhere.com/photos/af/d1/ocean_city_sunset_sea_sky_sun_paris_france-944921.jpg!s"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Waves at Sea"
        />

        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park"
        />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />

        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds"
        />

        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Waves at Sea"
        />

        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park"
        />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />

        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds"
        />

        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Waves at Sea"
        />

        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park"
        />
    </div>
</div>
    <!-- Gallery -->
<%include item_include/footer.ejs%>


</body>
</html>
