<!doctype html>
<html lang="en">
<head>
    <title><%= title%></title>
    <% include item_include/header.ejs %>
</head>
<body class="container" >
<!--    nav-->
<% include item_include/nav.ejs %>
<!---->
<form style="padding-bottom: 20px" method="post" action="/UpdateImage" enctype="application/x-www-form-urlencoded">
    <div class="mb-3">
        <label for="ten" class="form-label">ID Image: </label>
        <input type="text" class="form-control" id="_id" name="_id">
    </div>
    <div class="mb-3">
        <label for="ten" class="form-label">Tên: </label>
        <input type="text" class="form-control" id="ten" name="ten" >
    </div>
    <div class="mb-3">
        <label for="sdt" class="form-label">Nội dung:</label>
        <input type="text" class="form-control" id="noiDung" name="noiDung">

    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Link ảnh:</label>
        <input type="text" class="form-control" id="linkAnh" name="linkAnh">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div><%=message%></div>
</form>

<script>
    const txtId = document.getElementById("_id");
    const txtTen = document.getElementById("ten");
    const txtNoiDung = document.getElementById("noiDung");
    const txtLink = document.getElementById("linkAnh");

    const id = localStorage.getItem("_id");
    console.log(id);
    const data = {id:id};
    (async () => {
        const rawResponse = await fetch('http://localhost:3000/Update', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });
        const content = await rawResponse.json();
        console.log(content[0].ten);
        txtTen.value = content[0].ten;
        txtNoiDung.value = content[0].noiDung;
        txtLink.value = content[0].link;
        txtId.value = content[0]._id;


    })();
</script>
<!-- Gallery -->
<% include item_include/footer.ejs %>
</body>
</html>
